---
import Section from "../Section.astro";

import {skills} from 'C:/Users/BryanRoa/Downloads/PROJECTS/PortFolio/folio/bryanrmolina/src/cv.json'
---

<Section title = "Skills"> 
    <ul class ="no-print">
        {
             skills.map(({ image, name }) => (
                <li>
                    <img title={name} src={image} >
                </li>
                )
            )
        }
    </ul>
    <ul class = "print">
        {
            skills.map(({ name }) => (
                <li class="noprint" style="display: inline-flex;">
                    <p>{name}</h2>
                </li>
            ))}
    </ul>
</Section>

<style>
ul{
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
}

li{
        border-radius: 6px;
        background: #eee;
        color: black;
        font-size: .8rem;
        font-weight: 500;
        padding: 0.2rem .6rem;

    }

    img{
        margin-right: 4px;
        width: 50px;
        height: 50px;
    }
</style>

